.task
bin
.DS_Store
frontend/dist/*
!frontend/dist/.gitkeep
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

.idea/
.codex/*
!.codex/config.toml
.pnpm-store/
